/* broun #2E2F22 */

/* font-family: 'Spectral SC', serif; */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* BUTTON */
.button {
  background: transparent;
  border: 1px solid #202117;
  color: #202117;
  border-radius: 10px;
  padding: 12px 57px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

/* LINK */
.text-link {
  color: #2E2F22;
}

.header {
  background: no-repeat top center url('../img/header-background.jpg');
  background-size: cover;
  min-height: 581px;
  font-size: 16px;
  margin-bottom: 83px;
}

.header__nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__list li {
  margin-left: 83px;
}
.header__list li:first-child {
  margin-left: 0;
}
.header__list li a {
  text-decoration: none;
  color: #2E2F22;
}

/* TITLE */
.main-title {
  margin: 0;
  font-family: 'Spectral SC', serif;
  font-size: 36px;
}

/* ARTICLES */
.articles {
  max-width: 1200px;
  margin: 0 auto 85px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #2E2F22;
}

.articles__select {
  position: absolute;
  right: 0;
  width: 203px;
}

.articles__select::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 20px;
  right: 20px;
  top: calc(50% - 10px);
  background: url('../img/select-arrow.svg') no-repeat center right;
}

.articles__select select{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: none;
  background-color: #D7D1C9;
  color: #2E2F22;
  border-radius: 10px;
  appearance: none;
  width: 100%;
  padding: 12px 21px;
}

.articles__wrapper {
  margin-bottom: 104px;
}

.articles__title {
  margin-bottom: 50px;
}

.articles__list {
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.article:hover {
  opacity: .7;
}

.article a {
  width: 387px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #2E2F22;
}

.article img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 27px;
}

.article__title {
  font-family: 'Spectral SC', serif;
  font-size: 18px;
  margin-bottom: 8px;
}

.article__text {
  line-height: 26px;
  margin-bottom: 12px;
}

.article__info {
  display: flex;
  justify-content: space-between;
  opacity: .7;
}

.articles__popular {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.popular:hover {
  opacity: .7;
}

.popular a {
  padding: 65px 80px;
  max-width: 590px;
  min-height: 552px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
}

.popular img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.popular__title {
  font-family: 'Spectral SC', serif;
  font-size: 20px;
  margin-bottom: 8px;
}

.popular__text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 12px;
}

.popular__info {
  display: flex;
  justify-content: space-between;
  opacity: .7;
}

.articles__button {
  align-self: center;
}

/* ABOUT */
.about {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 88px;
  color: #2E2F22;
}

.aboutMe__title {
  text-align: center;
  margin-bottom: 50px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__wrapper img {
  width: 590px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.about article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__text {
  padding-left: 20px;
  line-height: 26px;
  margin: 42px 70px 42px 0;
}

.about__motivation {
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
  padding: 20px 0 20px 20px;
  margin: 0;
  border-left: 3px solid #D7D1C9;
}

/* PORTFOLIO */
.portfolio {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 87px;
  color: #2E2F22;
}

.portfolio__title {
  margin-bottom: 44px;
  text-align: center;
}

.portfolio__list {
  margin: 0;
  margin-bottom: 104px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.portfolio-item {
  border-radius: 10px;
}

.portfolio-item:hover {
  opacity: .7;
}

.portfolio-item a {
  display: flex;
  justify-content: center;
  min-height: 525px;
  width: 387px;
  text-decoration: none;
  color: #2E2F22;
}

.portfolio-item div {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 140px;
}

.portfolio-item:first-child {
  background: no-repeat url('../img/portfolio-1.jpg');
}
.portfolio-item:first-child div {
  max-width: 285px;
}

.portfolio-item:nth-child(2) {
  background: no-repeat url('../img/portfolio-2.jpg');
  color: #fff;
}

.portfolio-item:nth-child(2) a {
  color: #fff;
}

.portfolio-item:nth-child(2) div {
  max-width: 340px;
}

.portfolio-item:nth-child(3) {
  background: no-repeat url('../img/portfolio-3.jpg');
}
.portfolio-item:nth-child(3) div {
  max-width: 355px;
}

.portfolio-item__article-name {
  font-family: 'Spectral SC', serif;
  font-size: 20px;
  margin-bottom: 44px;
}

.portfolio-item__title {
  font-family: 'Spectral SC', serif;
  font-size: 18px;
  margin-bottom: 18px;
}

.portfolio-item__text {
  margin: 0;
  line-height: 26px;
}

.portfolio__button {
  align-self: center;
}

/* FORM */
.form-section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.form-section__title {
  margin-bottom: 45px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 996px;
  margin: 0 auto 84px auto;
  padding: 50px 80px 60px 80px;
  color: #202117;
  box-sizing: border-box;
  background: no-repeat url('../img/write-background.jpg');
  background-size: cover;
  border-radius: 10px;
}

.form__user-data-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__message {
  margin-bottom: 20px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field__box {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;
  box-sizing: border-box;
  border-radius: 10px;
}

input.field__box {
  width: 407px;
}

textarea.field__box {
  min-height: 293px;
  resize: none;
}

.field__title {
  font-family: 'Spectral SC', serif;
  font-size: 18px;
  margin-bottom: 12px;
  color: #2E2F22;
}

.form__button {
  align-self: center;
}

/* FOOTER */
.footer {
  background-color: #D7D1C9;
  padding: 65px 0 90px 0;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  max-width: 631px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.footer__social li:hover {
  opacity: .7;
}

.social__button {
  color: #2E2F22;
  font-size: 18px;
  text-decoration: none;
}